# Общие правила
.DS_Store
*.log
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
logs/
**/logs/

# IDE/Editor
.idea/
.vscode/
!.vscode/extensions.json
riderModule.iml
_ReSharper.Caches/

# Backend (ASP.NET)
backend/**/bin/
backend/**/obj/
backend/packages/

# Frontend (React/Vite)
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/