.directRouteCard {
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    border-radius: 6px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.directRouteCard p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.directRouteCard strong {
    font-weight: bold;
}

.twoColumnLayout {
    display: flex;
    gap: 15px;
}

.infoColumn {
    flex-grow: 1;
}

.actionsColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-shrink: 0;
}

.scheduleButton {
    display: inline-block;
    width: auto;
    padding: 8px 15px;
    background-color: #7b00ff;
    color: white;
    border: none;
    border-radius: 4px;

    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;

    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease;

    text-decoration: none;
}

.scheduleButton:hover {
    background-color: #2d00b3;
}

.scheduleButton:active {
    background-color: #210085;
    transform: translateY(1px);
}

.lastRowAlign {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0px;
}